body{
}

img{
    margin-left: 5%;
    margin-bottom: -10px;
}

#page_container{
    background-color: rgb(240,240,240);
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#greeting_container{
    text-align: center;
    font-family: "Myriad Hebrew"
}

#greeting_container h1{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 2.5em;
}

#greeting_container p{
    font-size: 1.2em;
}

#greeting_container ul{
    list-style-type: none;
    font-size: 1.1em;
    font-weight: bold;
}


#error_message{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
    font-family: "Myriad Hebrew";
}

form{
background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    height: 60px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -20px;
    border: solid 1px;
    border-color: rgba(0,0,0,.2);
}

form h1{
    float: left;
    font-family: "Arial";
    font-size: 2em;
    margin-top: 13px;
    margin-left: 1%;
}

input{
    height: 40px;
    width: 260px;
    margin-top: 6px;
    margin-left: 5%;
    font-size: 1.5em;
}

input[type="submit"]{
    border-radius: 50px;
    border-color: rgba(0,0,0,6);
    outline: none;
background: rgb(214,244,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(214,244,254,1) 0%, rgba(194,237,250,1) 40%, rgba(159,229,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,244,254,1)), color-stop(40%,rgba(194,237,250,1)), color-stop(100%,rgba(159,229,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(214,244,254,1) 0%,rgba(194,237,250,1) 40%,rgba(159,229,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(214,244,254,1) 0%,rgba(194,237,250,1) 40%,rgba(159,229,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(214,244,254,1) 0%,rgba(194,237,250,1) 40%,rgba(159,229,253,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(214,244,254,1) 0%,rgba(194,237,250,1) 40%,rgba(159,229,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f4fe', endColorstr='#9fe5fd',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:active{
    border-radius: 50px;
    border-color: rgba(0,0,0,.7);
background: rgb(139,224,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(139,224,253,1) 0%, rgba(174,231,248,1) 60%, rgba(191,238,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,224,253,1)), color-stop(60%,rgba(174,231,248,1)), color-stop(100%,rgba(191,238,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(139,224,253,1) 0%,rgba(174,231,248,1) 60%,rgba(191,238,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(139,224,253,1) 0%,rgba(174,231,248,1) 60%,rgba(191,238,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(139,224,253,1) 0%,rgba(174,231,248,1) 60%,rgba(191,238,253,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(139,224,253,1) 0%,rgba(174,231,248,1) 60%,rgba(191,238,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be0fd', endColorstr='#bfeefd',GradientType=0 ); /* IE6-9 */
}

.book_container{
    width: 98%;
    height: 95px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(0,0,0,.2);
    font-family: "Myriad Hebrew";
}

.book_container h2{
    border-bottom: solid 2px;
}

.book_container p{
    margin-top: -10px;
    font-size: 1em;
}

.book_container a{
    display: block;
    margin-top: -10px;
    font-size: 1em;
}

.title_container{
    width: 32%;
    height: 100px;
    margin-left: 1%;
}

.author_container{
    width: 20%;
    height: 100px;
    margin-left: 35%;
    margin-top: -119px;
}

.read_container{
    width: 20%;
    height: 100px;
    margin-left: 57%;
    margin-top: -119px;
}

.rating_container{
    width: 20%;
    height: 100px;
    margin-left: 79%;
    margin-top: -120px;
}