body{
    background-image:url("images/stage_bg.jpg");
    color: white;
}

header{
    background-color: black;
    height: 50px;
    width: 100%;
}

ul{
    background-color: lightgray;
    margin: 0 auto;
    width: 40%;
    height: 300px;
    color: black
}

li{
    list-style-type: none;
}