body{
    background-color: #fb9e6b;
    font-family: "Helvetica";
}

header{
    background-color: #31741f;
    height: 50px;
    width: 101%;
    margin: -10px 0px 0px -.5%;
}

form{
    background-color: blue;
    width: 30%;
    margin-top: 30px;
    margin-left: 7%;
    float: left;
}

form label{
    margin-right: -2%;
}

label img{
    margin-bottom: -45px;
}


input{
    height: 100px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 5%;
    border-radius: 5px;
    border-color: #31741f;
    background-color: #31741f;
    font-size: 1.5em;
}

input:active{
    background-color: #d38358;
}

h2{
    height: 20px;
    width: 70%;
    margin-left: 30px;
    font-size: 1em;
}

p{
    height: 20px;
    width: 80%;
    margin-top: -10px;
    margin-left: 30px;
    margin-bottom: -5px;
}


.info_container_whole{
    background-color: #ffff66;
    width: 53.1%;
    height: 590px;
    float: right;
    margin-right: 7%;
    margin-top: 30px;
}

.info_container_whole img{
    margin-left: 11%;
    margin-top: 10px;
}

.info_container_top{
    float: left;
    width: 40%;
    margin-left: 11%;
}

.info_container_bottom{
    float: right;
    width: 38%;
    margin-right: 10%;
}

li label{
    margin-right: 20px;
}